
<div class="card text-center">
  <div class="card-header">
    <h2>Change Organization Image</h2>
  </div>
  <div class="card-body image">
    <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1/ 1"
    (imageCropped)="imageCropped($event)"
    >
    </image-cropper>
  </div>
  <div class="card-footer text-muted">
    <div class="col" *ngIf="!this.isLoading">
      <img [src]="croppedImage" alt="..." class="small-img" />
      <h2 >Preview</h2>
      <a href="javascript:void(0)" class="footer" (click)="close()">Cancel</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="save()">
        Save Changes
      </button>
    </div>
  </div>
</div>
